<app-navbar></app-navbar>
<div class="min-h-screen bg-orange-50 pt-10" *ngIf="customer">
  <label class="flex justify-center   mb-8 text-xl font-extrabold"
    >Detail Customer</label
  >
  <div
    class="max-w-[20rem] tablet:max-w-[28rem] p-6 laptop:p-8 mx-auto mt-10 mb-10 bg-white rounded-lg-2xl shadow-xl"
  >
    <div class="flex flex-col text-sm laptop:text-base">
      <div class="flex justify-center mt-4 mb-2">
        <img
          *ngIf="customer.pic"
          class="rounded-lg"
          [src]="customer.pic"
          alt="Customer Picture"
        />
      </div>
      <p><strong>ID:</strong> {{ customer.customerId }}</p>
      <p><strong>Name:</strong> {{ customer.customerName }}</p>
      <p><strong>Code:</strong> {{ customer.customerCode }}</p>
      <p><strong>Phone:</strong> {{ customer.customerPhone }}</p>
      <p>
        <strong>Last Order Date:</strong>
        {{ customer.lastOrderDate | date: 'dd/MM/yyyy | HH:mm' }}
      </p>
      <div class="flex justify-end mt-4">
        <button
          class="p-2 px-4 text-white rounded-lg bg-orange-600 hover:bg-orange-500"
          (click)="goToHome()"
        >
          Back
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="!customer">
    <p>No customer details available.</p>
  </div>
</div>
