<app-navbar></app-navbar>
<div class="min-h-screen bg-orange-50 pt-10">
  <label class="flex justify-center mb-10 text-xl font-extrabold">Data Order</label>
  <div class="p-10 mx-16 bg-white mb-10 rounded-lg shadow-md laptop:mx-44">
    <div class="flex justify-between mb-5">
      <input
        type="text"
        placeholder="Find Order by Customer Name"
        class="w-3/5 p-2 border rounded-lg tablet:w-64 border-orange-700"
        [(ngModel)]="searchOrderCustomerName"
        (input)="searchOrder()"
      />

      <button
        class="p-2 text-xs text-white rounded-lg laptop:text-base bg-orange-600 hover:bg-orange-500"
        (click)="goAddOrder()"
      >
        Add Order
      </button>
    </div>
    <div class="overflow-x-auto">
      <div>
        <table class="min-w-full bg-white border-collapse">
          <thead class="text-sm laptop:text-base">
            <tr>
              <th class="p-2 border-b">Order Code</th>
              <th class="p-2 border-b">Order Date</th>
              <th class="p-2 border-b">Customer Name</th>
              <th class="p-2 border-b">Item Name</th>
              <th class="p-2 border-b">Quantity</th>
              <th class="p-2 border-b">Total Price</th>
              <th class="p-2 border-b">Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="order && order.length > 0">
            <tr
              *ngFor="let order of order"
              class="text-xs border-b tablet:text-sm laptop:text-base"
            >
              <td class="p-1 text-center min-w-[6rem]">{{ order?.orderCode }}</td>
              <td class="p-1 text-center min-w-[6rem]">{{ order?.orderDate | date: 'dd/MM/yyyy | HH:mm' }}</td>
              <td class="p-1 text-center min-w-[8rem]">{{ order?.customer?.customerName }}</td>
              <td class="p-1 text-center min-w-[6rem]">{{ order?.item?.itemName }}</td>
              <td class="p-1 text-center min-w-[6rem]">{{ order?.quantity }}</td>
              <td class="p-1 text-center min-w-[6rem]" >{{ order?.item ? formatMoney(order?.totalPrice) : null }}</td>
              <td class="p-1 text-center min-w-[6rem]">
                <button (click)="goDetailOrder(order.orderId)" class="m-2">
                  <fa-icon [icon]="faEye"></fa-icon>
                </button>
                <button
                  (click)="goEditOrder(order.orderId)"
                  class="m-1 laptop:m-2"
                >
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button
                  (click)="
                    openDeleteConfirmationModal(order.orderId, order.orderCode)
                  "
                  class="m-1 laptop:m-2"
                >
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
        class="flex justify-between mt-4 text-xs text-white tablet:text-sm laptop:text-base"
      >
      <div class="text-black">
        <div class="grid grid-cols-3 gap-0">
          <div>
            <label for="pageSize" class="mr-2">Entries:</label>
            <select
              class="p-2 border rounded-lg"
              [(ngModel)]="pageSize"
              (change)="pageSizeOrder()"
              defaultValue="5"
            >
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
            </select>
            <label class="mr-2"> of {{ totalData }}</label>
          </div>
          <div class="col-span-2">
            <div class="flex items-center ml-4 text-xs laptop:text-sm">
              <label for="sortDirection " class="mr-2">Sort By Order Date:</label>
              <select
                id="sortDirection"
                class="p-2 border rounded-lg"
                [(ngModel)]="sortDirection"
                (change)="sortOrder()"
              >
                <option value="asc">ASC</option>
                <option value="desc">DESC</option>
              </select>
            </div>
          </div>
        </div>
      </div>
        <div>
          <button
          [disabled]="currentPage === 1"
          (click)="onPageChange(currentPage - 1)"
          class="p-2 border rounded-lg bg-orange-600 hover:bg-orange-500"
        >
          <
        </button>
        <span class="mx-2 mt-2 text-black"
          >{{ currentPage }} / {{ totalPages }}</span
        >
        <button
          [disabled]="currentPage === totalPages"
          (click)="onPageChange(currentPage + 1)"
          class="p-2 border rounded-lg bg-orange-600 hover:bg-orange-500"
        >
          >
        </button>
        </div>
      </div>
  </div>
  <div class="mt-8 ml-16 laptop:ml-44">
    <a
      class="p-2 text-white bg-green-500 rounded-lg laptop:p-3 hover:bg-green-300"
      (click)="downloadReport()"
    >
      <fa-icon [icon]="faFileAlt" class="pr-2"/>Download Report
    </a>
  </div>
  <div class="p-4"></div>
</div>

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
>
  <div class="p-4 bg-white rounded-lg shadow-md">
    <h2 class="mb-4 text-xl font-bold">Delete Confirmation</h2>
    <p class="mb-4">
      Are you sure want to delete this order
      <strong>"{{ orderNameToDelete }}"</strong> ?
    </p>
    <div class="flex justify-end">
      <button
        (click)="closeDeleteConfirmationModal()"
        class="p-2 mr-2 text-orange-600 bg-white rounded-lg hover:bg-gray-50"
      >
        No
      </button>
      <button
        (click)="confirmDeleteOrder()"
        class="p-2 text-white bg-orange-600 rounded-lg hover:bg-orange-700"
      >
        Yes
      </button>
    </div>
  </div>
  
</div>
